/* dashboard.css */

body {
  font-family: 'Roboto', sans-serif;
  color: #ecf0f1; /* Light text color */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('1.jpg') center/cover no-repeat; /* Replace 'path/to/space2.jpg' with the actual path to your image */
  overflow: hidden; /* Hide overflow to prevent horizontal scrollbar */
}

.dashboard-container {
  text-align: center;
  max-width: 800px;
  padding: 40px;
  background-color: rgba(52, 73, 94, 0.8); /* Slightly lighter background color with transparency */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease; /* Fade-in animation for the container */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  margin-bottom: 20px;
  animation: pulse 1s ease infinite; /* Pulse animation for the title */
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

p {
  color: #bdc3c7;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Add some additional styling for a more professional look */
